:root {
  font-family: 'Roboto', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body {
  margin: 0;
  min-height: 100dvh;
  background-color: hsla(215, 15%, 97%, 0.5)
}
